
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');


h1{
    color: white;
    text-align: center;
    font-family: 'Passion One';
    font-size: 3em;
    
    
}
h4{
    color: white;
    text-align: center;
    
}

div a:hover{
    text-decoration: none;
    background-color: aliceblue;
}

div{
    
    background-color: black;
    height: 250px;
    width: 100%;
}