
  @import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
  :root{
    ---fonte1: Verdana, Geneva, Tahoma, sans-serif;
    ---fonte2: 'passion one', cursive;
    ---fonte3: 'sriracha', cursive;
  }
*{
    margin: 0px;
    padding: 0px;
}
  html, body{
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(---fonte1);
    
  }
  
header{
    
    text-align: center;
    color: white;
    background-color: black;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(---fonte2);
    font-size: 10vw;

}
header >p{
    padding-bottom: 50px;
}
header a:hover, footer a:hover{
    
    text-decoration: underline;
    
}
header a, footer a{
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
}




section{
    padding-left: 25px;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: white;
    line-height: 1.5em;
    font-size: 4vw;

}
section > p{
    padding-left: 10px;
    padding-bottom: 50px;
    font-family: var(---fonte3);
    font-size: 3vw;
}
section.normal {
    background-color: white;
    color: black;
}
section.imagem{
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px   rgba(0, 0, 0, 0.281);
}

section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.432);
    padding: 5px;
    border-radius: 3px ;
    color: aliceblue;

}
section#img1{
    background-image: url(imagens/background001.jpg);

}
section#img2{
    background-image: url(imagens/background002.jpg);
}
footer{
    background-color: black;
    color: aliceblue;
    padding: 10px;
    text-align: center;
    
}
div{
    background-color: white;
    text-align: center;
    
}
img{
    height: 150px;
}


