
  @import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
  :root{
    ---fonte1: Verdana, Geneva, Tahoma, sans-serif;
    ---fonte2: 'passion one', cursive;
    ---fonte3: 'sriracha', cursive;
  }
*{
    margin: 0px;
    padding: 0px;
}
  html, body{
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(---fonte1);
    
  }
  
header{
    
    text-align: center;
    color: white;
    background-color: black;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(---fonte2);
    font-size: 10vw;

}
p{
    padding-bottom: 50px;
    font-family: var(---fonte3);
}
a{
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
}

header a:hover, footer a:hover{
    
    text-decoration: underline;
    
}


section{
    padding-left: 25px;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: white;
    line-height: 2em;
    font-size: 4vw;

}
section.imagem{
    background-position: center center;
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.274);
    width: 400px;
    color: aliceblue;
}



